Value VRF (\S+)
Value Interface (\S+)
Value IPAddress (\d+\.\d+\.\d+\.\d+)
Value Protocol (protocol-up|protocol-down)
Value Link (link-ip|link-down)
Value AdminStatus (admin-up|admin-down)

Start
  ^IP Interface Status for VRF \"$(VRF)\" -> Continue
  ^$(Interface)\s+$(IPAddress)\s+$(Protocol)/$(Link)/$(AdminStatus) -> Record
