Value Filldown VRF_VALUE (\S+)
Value INTERFACE_VALUE (\S+)
Value IPADD_VALUE (\d+\.\d+\.\d+\.\d+)
Value PROTO_VALUE (protocol-up|protocol-down)
Value LINK_VALUE (link-ip|link-down)
Value ADMIN_VALUE (admin-up|admin-down)

Start
  ^IP Interface Status for VRF "${VRF_VALUE}" -> Continue
  ^${INTERFACE_VALUE}\s+${IPADD_VALUE}\s+${PROTO_VALUE}/${LINK_VALUE}/${ADMIN_VALUE} -> Record